{% extends 'base.html' %}
{% block content %}
<div class="container">
    
    <h1 class="text-center mt-4">{{ quiz.name }}</h1>

    <div class="container mt-4 p-5 border border-success rounded bg-success bg-opacity-25 text-center">

        {% if question %}
            <h2>{{ question.text }}</h2>
            <form method="post">
                {% csrf_token %}
                {% for answer in answers %}
                    <label class="mt-4">
                        <input type="radio" name="answer" value="{{ answer.id }}">
                        {{ answer.text }}
                    </label>
                <br>
                {% endfor %}
                <button class="btn btn-success mt-4" type="submit">Siguiente</button>
            </form>
        {% else %}
            <h1>Quiz Result</h1>
            <p>Obtuviste {{ correct_answers }} de {{ total_questions }} Preguntas correctas.</p>
            <p>Gracias por jugar con nosotros...!</p>
        {% endif %}
    
    
    </div>

</div>
{% endblock %}
