{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-4">
    <h1>Home QuizGame</h1>
    <div class="row text-center m-4">
        <div class="col">
            <ul>                
                {% comment %} {% for pregunta, respuestas in preguntas_respuestas.items %}
                <h3>{{ pregunta }}</h3>
                <ul>
                    {% for respuesta in respuestas %}
                     <li>{{ respuesta }}</li>
                    {% endfor %}
                </ul>
                {% endfor %} {% endcomment %}
            </ul>

        </div>

    </div>



</div>
{% endblock content %}